* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-image: url();
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#game-area-container{
    margin: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    
}


#live-section-container {
    width: 100px;
    height: 120px;
    margin-right: 20px;
    margin-left: 0;
    border: solid black 2px;
    background-image: url(./Assets/Images/test\ caracter\ picture.png);
    background-blend-mode: color;
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover;
    font-size: 100px;
    text-align: center;


}


#game-area {
    width: 85%;
    height: 85%;
    border: solid black 2px;
    background-color: rgb(72, 72, 72);
    position: relative;
    margin-right: 70px;
    
}






 /* Player */


#player {
    width: 2.2em;
    height: 2.2em;
    border: solid rgb(255, 157, 157) 2px;
    position: absolute;  
    background-color: rgb(120, 255, 212);
    background-size: contain;
    background-repeat: no-repeat;
    left:0;
    top: 0;
    
    
}

.lantern {
    width: 20.2em;
    height: 20.2em;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    transform: translate(-50%, -50%);
    
}


@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }



/* NURSES  */

.nurses {
    width: 2.2em;
    height: 2.2em;
    border: solid rgb(0, 0, 0) 2px;
    position: absolute;  
    background-color: rgb(255, 11, 11);
    background-size: contain;
    background-repeat: no-repeat;
    
}




