* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-image: url();
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  button {
    background-color: black;
    border: none;
    color: aliceblue;
    font-size: 1.2em;
    font-family: "mina";
    cursor:pointer; 


  }

#game-area-container{
    margin: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-image: url(./Assets/Images/background\ 3\ test.webp);

    
}


#live-section-container {
    width: 100px;
    height: 120px;
    margin-right: 20px;
    margin-left: 0;
    border: solid black 2px;
    background-image: url(./Assets/Images/Screen\ Shot\ 2024-07-16\ at\ 9.37.40\ PM.png);
    background-blend-mode: color;
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover;
    font-size: 100px;
    text-align: center;


}


#game-area {
    width: 85%;
    height: 85%;
    border: solid black 2px;
    background-color: rgb(72, 72, 72);
    position: relative;
    margin-right: 70px;
    background-image: url(./Assets/Images/Game-Room-2..webp);
    clip-path: circle(100% at 50% 50%); /* Initial clip-path value */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}






 /* Player */


#player {
    width: 3em;
    height: 4.8em;
    position: absolute;  
    background-image: url(./Assets/Images/main.png);
    background-size: contain;
    background-repeat: no-repeat;
    left:0;
    top: 0;
    z-index: 2;
    /* border: solid white 2px;  */ 
}

.lantern {
    width: 20.2em;
    height: 20.2em;
    border-radius: 50%;
    /* background: yellow; */
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 30%;
    
    
    
    
    

    
}


@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }



/* NURSES  */

.nurses {
    width: 3em;
    height: 4.8em;
    position: absolute;  
    /* background-color: rgb(255, 11, 11); */
    background-image: url(./Assets/Images/nurse.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* border: solid red 2px; */
      
}

/* DOOR TO WIN */



.escape-door {
    width: 4.5em;
    height: 4.5em;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    background-image: url(./Assets/Images/elevator\ test.png);
    background-size:250%;
    background-repeat: no-repeat;
    background-position: center;


    
}




#dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    pointer-events: none; /* Allow interactions with elements below */
    z-index: 1; /* Ensure it is above other elements but below the player */
    mix-blend-mode: multiply; /* Blend the darkness with the background */
    opacity: 95%;
    
    
    
    
    
}




/* GAME OVER SECTION  */

#game-over-section {
    width:70vw ;
    height:70vh ;
    background-color: rgba(255, 0, 0, 0);
    border: solid rgba(255, 255, 255, 0) 1px ;
    z-index: 3;
    font-size: 200px;
    font-family:"Mina";
    color: rgb(183, 11, 11);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}



/* WIN SECTION */

#win-section {
    width:50vw ;
    height:50vh ;
    background-color: rgba(255, 0, 0, 0);
    border: solid rgba(255, 255, 255, 0) 1px ;
    z-index: 3;
    font-size: 200px;
    font-family:"Mina";
    color: rgb(183, 11, 11);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;


}


/* START GAME SECTION */


#start-game-section {
    width: 60vw;
    height: 60vh;
    border: solid black 2px;
    background-color: black;
    z-index: 4;
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:"Mina";
   /*  display: none; */
}

#game-title{
    width: 60vw;
    height:30vh;
    color: aliceblue;
    font-size: 7em ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:"Mina";
    text-decoration: line-through 3px;
    text-transform: uppercase;
}

#menu-container {
    width: 20%;
    height:20% ;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    font-family:"Mina";
    margin-top: 30px;

}

#controls-section {
  

  color: rgb(51, 255, 0);
  display: none;
  
  
  
}


#credit-section {
  width: 100%;
  height: 100%;
  background-color: rgb(20, 17, 17);
  z-index: 6;
  color: aliceblue;
  display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:"Mina";
  text-align: center;
  display: none;
  position: absolute;
  
}