* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-image: url();
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#game-area-container{
    margin: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-image: url(./Assets/Images/background\ 3\ test.webp);

    
}


#live-section-container {
    width: 100px;
    height: 120px;
    margin-right: 20px;
    margin-left: 0;
    border: solid black 2px;
    background-image: url(./Assets/Images/test\ caracter\ picture.png);
    background-blend-mode: color;
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover;
    font-size: 100px;
    text-align: center;


}


#game-area {
    width: 85%;
    height: 85%;
    border: solid black 2px;
    background-color: rgb(72, 72, 72);
    position: relative;
    margin-right: 70px;
    /* background-image: url(./Assets/Images/Game-Room-2..webp); */
    clip-path: circle(100% at 50% 50%); /* Initial clip-path value */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}






 /* Player */


#player {
    width: 2.2em;
    height: 2.2em;
    border: solid rgb(255, 157, 157) 2px;
    position: absolute;  
    background-color: rgb(120, 255, 212);
    background-size: contain;
    background-repeat: no-repeat;
    left:0;
    top: 0;
    z-index: 2;
    
    
    
}

.lantern {
    width: 20.2em;
    height: 20.2em;
    border-radius: 50%;
    background: yellow;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 30%;
    clip-path: circle(100% at 50% 50%); /* Initial clip-path value */
    

    
}


@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }



/* NURSES  */

.nurses {
    width: 2.2em;
    height: 2.2em;
    border: solid rgb(0, 0, 0) 2px;
    position: absolute;  
    background-color: rgb(255, 11, 11);
    background-size: contain;
    background-repeat: no-repeat;

    
}

/* DOOR TO WIN */



.escape-door {
    width: 2.2em;
    height: 2.2em;

    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;

    
}




#dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    pointer-events: none; /* Allow interactions with elements below */
    z-index: 1; /* Ensure it is above other elements but below the player */
    mix-blend-mode: multiply; /* Blend the darkness with the background */
    opacity: 90%;
    
    
}




/* GAME OVER SECTION  */

#game-over-section {
    width:70vw ;
    height:70vh ;
    background-color: rgba(255, 0, 0, 0);
    border: solid rgba(255, 255, 255, 0) 1px ;
    z-index: 3;
    font-size: 200px;
    font-family:"Mina";
    color: rgb(183, 11, 11);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}